//CONTACT FORM

$primary-color: #9d9e9f;
$secondary-color: #999999;
$font-size: 16px;
$padding: 10px;

.send-me {
  margin-top: 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  label {
    font-size: $font-size;
    color: $secondary-color;
    margin-bottom: $padding;
  }

  input,
  textarea {
    width: 100%;
    padding: $padding;
    border-radius: 4px;
    border: 1px solid $secondary-color;
    font-size: $font-size;
    margin-bottom: $padding;

    &:focus {
      border-color: $primary-color;
    }
  }

  textarea {
    height: 150px;
    resize: none;
  }

  button[type="submit"] {
    background-color: $primary-color;
    color: #fff;
    padding: $padding * 2;
    border: none;
    border-radius: 4px;
    font-size: $font-size;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}