// Home Container
$home-container-font-size: 1rem;
$home-container-heading-font-size: 4rem;
$home-container-heading-font-weight: 400;
$home-container-heading-margin-bottom: 1rem;
$home-container-paragraph-font-size: 1.25rem;
$home-container-paragraph-font-weight: 400;
$home-container-paragraph-line-height: 1.5;

.home-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 80vh;
  font-size: $home-container-font-size;
  text-align: center;
  position: relative;
  width: 100%;
  height: auto;

  &::before {
    content: "";
    position: absolute;
    top: 3%;
    left: 3%;
    width: 50%;
    height: 90%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.7) 75%,
        #000 100%
      ),
      url("../assets/img/Nessa.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    border-radius: 1rem;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14rem;
    text-align: center;

    h1 {
      font-size: $home-container-heading-font-size;
      font-weight: $home-container-heading-font-weight;
      margin-bottom: $home-container-heading-margin-bottom;
      font-family: "Real Ohio";
      letter-spacing: 3px;
    }

    p {
      font-size: $home-container-paragraph-font-size;
      font-weight: $home-container-paragraph-font-weight;
      line-height: $home-container-paragraph-line-height;
      font-family: "Dutch";
    }
  }
}

// For devices with a screen size between 768px and 1024px (Tablet)
@media screen and (max-width: 1024px) {
  .home-container {
    .text-content {
      padding: 8rem;

      h1 {
        font-size: 3rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

// For devices with a screen size between 480px and 768px (Small Tablet or Large Mobile)
@media screen and (max-width: 768px) {
  .home-container {
    .text-content {
      padding: 4rem;

      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 0.875rem;
      }
    }
  }
}

// For devices with a screen size smaller than 480px (Mobile)
@media screen and (max-width: 480px) {
  .home-container {
    .text-content {
      padding: 2rem;

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 0.75rem;
      }
    }
  }
}
