// Home Container
$home-container-font-size: 1rem;
$home-container-heading-font-size: 10rem;
$home-container-heading-margin-bottom: 1.5rem;
$home-container-paragraph-font-size: 2rem;
$home-container-paragraph-font-weight: bold;
$home-container-paragraph-line-height: 1.5;

@mixin text-content($padding, $h1-font-size, $p-font-size) {
  .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $padding;
    text-align: center;

    h1 {
      font-size: $h1-font-size;
      margin-bottom: $home-container-heading-margin-bottom;
      font-family: "flor";
      letter-spacing: 3px;
      margin-top: -5rem;
    }

    p {
      font-size: $p-font-size;
      font-weight: $home-container-paragraph-font-weight;
      line-height: $home-container-paragraph-line-height;
      font-family: "Dam";
      letter-spacing: 1px;
    }
  }
}

@mixin home-container() {
  .home-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 90vh;
    font-size: $home-container-font-size;
    text-align: center;
    position: relative;
    width: 100%;
    padding: auto;
    background: linear-gradient(
      to bottom,
      rgba(166, 206, 241, 0.3) 0%,
      rgba(103, 219, 232, 0.5) 95%,
      #5a81ab1d 100%
    ),
    url("../assets/img/garage.jpeg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: "";
      position: absolute;
      left: 0%;
      width: 50%;
      height: 100%;
      background: 
        url("../assets/img/Nessa5.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 0;
      border-radius: 0.3rem;
    }

    @include text-content(9rem, $home-container-heading-font-size, $home-container-paragraph-font-size);

    @media screen and (max-width: 320px) {
      @include text-content(2rem, 4rem, 1rem);

      &::before {
        display: none;
      }
    }

    @media screen and (min-width: 321px) and (max-width: 810px) {
      @include text-content(4rem, 6rem, 1.25rem);

      &::before {
        display: none;

      }
    }

    @media screen and (min-width: 811px) and (max-width: 1280px) {
      @include text-content(6rem, 8rem, 1.5rem);

      &::before {
        background-size: 450px;
      }
    }

    @media screen and (min-width: 1281px) {
      @include text-content(9rem, $home-container-heading-font-size, $home-container-paragraph-font-size);

      &::before {
        background-size: cover;
        display: block;
      }
    }
  }
}

@include home-container();

@-moz-document url-prefix() {
  @include home-container();
}