
  .dark-mode-button {
    background-color: rgb(222, 136, 228)
  }
  
  .dark-mode-button.active {
    // Styles for the active button,
    background-color: rgb(192, 245, 255)
  }
  
  .dark {
    background-color: #333; // or any other desired dark background color
    color: #fff; // or any other desired text color for dark mode
  }
  
  .nav-link-dark {
    color: #fff;
  }
  