// Variables
$dark-bg-color: #333;
$dark-text-color: #fff;
$font-family: 'SF Pro Display', sans-serif;

// Mixins
@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Google Font import
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400;600&display=swap");

// Global styles
* {
  @include reset;
}

body {
  font-family: $font-family;
}

// Dark mode styles
.dark {
  background-color: $dark-bg-color;
  color: $dark-text-color;
}

.nav-link-dark {
  color: $dark-text-color;
}
