// Jobs
$job-item-padding: 1rem;
$job-item-border: 1px solid #f872d971;
$job-item-border-radius: 1rem;
$job-item-margin-bottom: 0.3rem;
$job-item-background-color: #b3f4fac8;
$job-item-heading-font-size: 1.5rem;
$job-item-heading-font-weight: 700;
$job-item-heading-margin-bottom: 0.5rem;
$job-item-paragraph-font-size: 1.3rem;
$job-item-paragraph-font-weight: 400;
$job-item-paragraph-line-height: 1.5;

.job-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: $job-item-padding;
  border: $job-item-border;
  border-radius: $job-item-border-radius;
  background-color: $job-item-background-color;
  margin-bottom: $job-item-margin-bottom;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  margin-right: 0.5rem;

  &.dark-mode {
    background-color: #56ccf2;
    color: #fff;
    opacity: 0.8;
  }

  h3 {
    font-size: $job-item-heading-font-size;
    font-weight: $job-item-heading-font-weight;
    margin-bottom: $job-item-heading-margin-bottom;
    font-family: "Dam";
  }

  p {
    font-size: $job-item-paragraph-font-size;
    font-weight: $job-item-paragraph-font-weight;
    line-height: $job-item-paragraph-line-height;
    font-family: "wes";
    text-align: justify;
  }
}

@media screen and (max-width: 1024px) {
  .job-item {
    h3 {
      font-size: 1.3rem;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .job-item {
    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .job-item {
    h3 {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.75rem;
    }
  }
}
