// Variables
$primary-color: #070808;
$secondary-color: #0e0e0e;
$font-size: 16px;
$padding: 10px;

// Mixins
@mixin button-hover($color) {
  &:hover {
    background-color: darken($color, 10%);
  }
}

// Contact Form
.send-me {
  margin-top: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  max-width: 600px;

  label {
    font-size: $font-size;
    color: $secondary-color;
    margin-bottom: $padding;
    font-weight: bold;
  }

  input,
  textarea {
    width: 100%;
    padding: $padding;
    border-radius: 4px;
    border: 1px solid $secondary-color;
    font-size: $font-size;
    margin-bottom: $padding;

    &:focus {
      border-color: $primary-color;
    }
  }

  textarea {
    height: 150px;
    resize: none;
  }

  button[type="submit"] {
    background-color: rgb(66, 179, 231);
 font-weight: bold;
    padding: $padding * 2;
    border: black;
    border-radius: 4px;
    width: 10rem;
    font-size: $font-size;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    @include button-hover($primary-color);
  }
}

@media screen and (max-width: 768px) {
  .contact-form {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .contact-form {
    width: 100%;
    padding: 0 $padding;
    
    label {
      font-size: $font-size * 0.9;
    }

    input,
    textarea {
      font-size: $font-size * 0.9;
    }

    button[type="submit"] {
      font-size: $font-size * 0.9;
    }
  }
}
