$header-bg-light: #fff;
$header-bg-dark: black;
$header-text-color-light: #000;
$header-text-color-dark: white;
$nav-link-dark-color: #ccc;
$nav-link-hover-color: #25748f;
$nav-link-dark-hover-color: #56ccf2;
$dark-mode-button-bg: #333;
$dark-mode-button-bg-active: #dcd8d8;
$dark-mode-button-text-color: #f1f1f1;
$dark-mode-button-text-color-active: black;
$dark-mode-button-hover-bg: #605c5c;
$dark-mode-button-hover-bg-active: #73cbf4;
$font-size: 1.5rem;
$padding: 2rem 1.5rem;

%header-common {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: $font-size;
  border-bottom: 5px solid rgb(9, 9, 9);
}

.header {
  @extend %header-common;
  background-color: $header-bg-light;
  background-image: linear-gradient(
      to bottom,
      rgba(166, 206, 241, 0.954) 0%,
      rgba(155, 214, 220, 0.5) 95%,
      #eeeaed5c 100%
    ),
    url("../../assets/img/wall.jpeg");

  &.dark {
    background-color: $header-bg-dark;
    color: $header-text-color-dark;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("../../assets/img/wall.jpeg");
  }

  h1 {
    font-family: "sand";
    letter-spacing: 2px;
    font-size: 1.5rem;
  }

  a,
  .nav-link-dark {
    color: inherit;
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
    transition: color 0.3s ease;
    font-family: "Wes";
    font-size: 1.5rem;
    font-weight: bold;

    &.nav-link-dark {
      color: $nav-link-dark-color;
    }

    &:hover {
      color: $nav-link-hover-color;
    }
  }

  .nav-link-dark:hover {
    color: $nav-link-dark-hover-color;
  }

  .dark-mode-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: $dark-mode-button-bg;
    color: $dark-mode-button-text-color;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &.active {
      background-color: $dark-mode-button-bg-active;
      color: $dark-mode-button-text-color-active; 
    }

    &:hover {
      background-color: $dark-mode-button-hover-bg;
    }

    &.active:hover {
      background-color: $dark-mode-button-hover-bg-active;
    }
  }
  

  .nav-links {
    display: flex;
    align-items: center;
    margin-left: 7rem;
    
 
    
    @media screen and (max-width: 1024px) {
      margin-left: 5rem;
    }

  
      // iPhone XR, 11, 11 Pro Max, 12, 12 Pro, 12 Pro Max
      @media screen and (max-width: 828px) {
        margin-left: 4rem;
        margin-right: -6rem;
      }

    
  
      @media screen and (max-width: 768px) {
        margin-left: 0;
        margin-top: 1rem;
        flex-direction: column;
        align-items: flex-start;
      }
  
      @media screen and (max-width: 480px) {
        margin-top: 0.5rem;
      }
    }
  }

  @-moz-document url-prefix() {
    .header {
      @extend %header-common;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 1.5rem;
      background-image: linear-gradient(
          to bottom,
          rgba(166, 206, 241, 0.954) 0%,
          rgba(155, 214, 220, 0.5) 95%,
          #eeeaed5c 100%
        ),
        url("../../assets/img/wall.jpeg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: $header-bg-light;
      font-size: 1.5rem;
      border-bottom: 5px solid rgb(9, 9, 9);
    
      &.dark {
        background-color: $header-bg-dark;
        color: $header-text-color-dark;
        background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
          ),
          url("../../assets/img/wall.jpeg");
      }
    
      h1 {
        font-family: "sand";
        letter-spacing: 2px;
        font-size: 1.3rem;
      }
    
      a,
      .nav-link-dark {
        color: inherit;
        text-decoration: none;
        margin-left: 1.5rem;
        margin-right: 2rem;
        transition: color 0.3s ease;
        font-family: "Wes";
        font-size: 1.35rem;
        font-weight: bold;
    
        &.nav-link-dark {
          color: $nav-link-dark-color;
        }
    
        &:hover {
          color: $nav-link-hover-color;
        }
      }
    
      .nav-link-dark:hover {
        color: $nav-link-dark-hover-color;
      }
    
      .dark-mode-button {
        padding: 0.5rem 0.7rem;
        border: none;
        border-radius: 0.25rem;
        background-color: $dark-mode-button-bg;
        color: $dark-mode-button-text-color;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
    
        &.active {
          background-color: $dark-mode-button-bg-active;
          color: $dark-mode-button-text-color-active; 
        }
    
        &:hover {
          background-color: $dark-mode-button-hover-bg;
        }
    
        &.active:hover {
          background-color: $dark-mode-button-hover-bg-active;
        }
      }
      
    
      .nav-links {
        display: flex;
        align-items: center;
        margin-left: 5.5rem;
    
        
     
        
        @media screen and (max-width: 1024px) {
          margin-left: 5rem;
        }
    
      
          // iPhone XR, 11, 11 Pro Max, 12, 12 Pro, 12 Pro Max
          @media screen and (max-width: 828px) {
            margin-left: 4rem;
            margin-right: -6rem;
         
          }
    
        
      
          @media screen and (max-width: 768px) {
            margin-left: 0;
            margin-top: 1rem;
            flex-direction: column;
            align-items: flex-start;
           
          }
      
          @media screen and (max-width: 480px) {
            margin-top: 0.5rem;
        
          }
        }
      }

  }
  


@media screen and (min-width: 810px) and (max-width: 1080px) {
  .header {
    padding: 1.5rem 1rem;
    font-size: 1.4rem;

    h1 {
      font-size: 1.5rem;
    }

    a,
    .nav-link-dark {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      font-size: 1.4rem;
    }

    .dark-mode-button {
      padding: 0.4rem 0.8rem;
    }

    .nav-links {
      margin-left: 6rem;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .header {
    padding: 1rem 0.8rem;
    font-size: 1.2rem;
    margin-right: 6rem;
   

    h1 {
      font-size: 1.2rem;
    }

    a,
    .nav-link-dark {
      margin-left: 0rem;
      margin-right: 0rem;
      font-size: 1.1rem;
    }

    .dark-mode-button {
      display: none;
    }

    .nav-links {
      margin-left: 5rem;
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 950px) {
  .header {
    padding: 2.5rem 2rem;
    font-size: 1.8rem;

    h1 {
      font-size: 1.8rem;
    }

    a,
    .nav-link-dark {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      font-size: 1.8rem;
    }

    .dark-mode-button {
      padding: 0.6rem 1.2rem;
    }

    .nav-links {
      margin-left: 8rem;
    }
  }
}
