// Footer
$footer-bg-light: #b3f4fac8;
$footer-bg-dark: black;
$footer-text-color-light: #000;
$footer-text-color-dark: #fff;
$dark-mode-button-bg: #333;
$dark-mode-button-bg-active: #dcd8d8;
$dark-mode-button-text-color: #f1f1f1;
$dark-mode-button-text-color-active: black;
$dark-mode-button-hover-bg: #605c5c;
$dark-mode-button-hover-bg-active: #73cbf4;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-image: linear-gradient(
    to bottom,
    rgba(166, 206, 241, 0.954) 0%,
    rgba(155, 214, 220, 0.5) 95%,
    #eeeaed 100%
  ),url("../../assets/img/wall.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $footer-bg-light;
  font-size: 1.2rem;
  border-top: 5px solid rgb(9, 9, 9);
  font-family: "Wes";

  &.dark {
    background-color: $footer-bg-dark;
    color: $footer-text-color-dark;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ), url("../../assets/img/wall.jpeg");
  }


  p {
    margin: 0;
    margin: auto;
  }

  .dark-mode-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: $dark-mode-button-bg;
    color: $dark-mode-button-text-color;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &.active {
      background-color: $dark-mode-button-bg-active;
      color: $dark-mode-button-text-color-active;
    }

    &:hover {
      background-color: $dark-mode-button-hover-bg;
    }

    &.active:hover {
      background-color: $dark-mode-button-hover-bg-active;
    }
  }
}

// Media query para tela de 810px x 1080px
@media screen and (min-width: 810px) and (max-width: 1080px) {
  .footer {
    padding: 1.5rem 1rem;
    font-size: 1.2rem;

    .dark-mode-button {
      padding: 0.4rem 0.8rem;
    }
  }
}

// Media query para tela de 320px x 900px
@media screen and (min-width: 320px) and (max-width: 900px) {
  .footer {
    padding: 1rem 0.8rem;
    font-size: 1rem;
    text-align: center;

    .dark-mode-button {
      padding: 0.3rem 0.7rem;
   
    }
  }
}

// Media query para tela de 1280px x 950px
@media screen and (min-width: 1280px) and (max-width: 950px) {
  .footer {
    padding: 1.5rem 2rem;
    font-size: 1.3rem;

    .dark-mode-button {
      padding: 0.5rem 1.1rem;
    }
  }
}
