// Footer
$footer-bg-light: #b3f4fac8;
$footer-bg-dark: black;
$footer-text-color-light: #000;
$footer-text-color-dark: #fff;
$dark-mode-button-bg: #f1f1f1;
$dark-mode-button-text-color: #333;
$dark-mode-button-hover-bg: #ddd;
$dark-mode-button-hover-bg-active: #444;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-image: linear-gradient(
    to bottom,
    rgba(166, 206, 241, 0.954) 0%,
    rgba(155, 214, 220, 0.5) 95%,
    #eeeaed 100%
  ),url("../../assets/img/wall.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $footer-bg-light;
  font-size: 1rem;
  border-top: 5px solid rgb(9, 9, 9);

  &.dark {
    background-color: $footer-bg-dark;
    color: $footer-text-color-dark;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ), url("../../assets/img/wall.jpeg");
  }


  p {
    margin: 0;
    margin: auto;
  }

  .dark-mode-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: $dark-mode-button-bg;
    color: $dark-mode-button-text-color;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &.active {
      background-color: $footer-bg-dark;
      color: $footer-text-color-dark;
    }

    &:hover {
      background-color: $dark-mode-button-hover-bg;
    }

    &.active:hover {
      background-color: $dark-mode-button-hover-bg-active;
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 2rem 1rem;
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    gap: 1rem;
  }

  p {
    order: 2;
  }

  .dark-mode-button {
    order: 1;
  }
}
