$font-family: "Futura";
$large-font-size: 3rem;
$medium-font-size: 1.3rem;
$profile-image-size: 350px;

@mixin box-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

.about-me-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  text-align: center;
  position: relative;
  width: 100%;
  height: auto;
  background: linear-gradient(
      to bottom,
      rgba(241, 166, 239, 0.1) 0%,
      rgba(232, 103, 232, 0.5) 85%,
      #a95aab 100%
    ),
    url("../../assets/img/wessofa.jpeg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
}

.profile-image-container {
  width: $profile-image-size;
  height: $profile-image-size;
  @include border-radius(50%);
  @include box-shadow;
  margin-left: 6.5rem;
  overflow: hidden;
  border: 5px solid #f18fe19f;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-title {
  font-family: "futura";
  font-size: $large-font-size;
  margin-bottom: 3vh;
  text-align: left;
}

.text-container {
  width: calc(100% - #{$profile-image-size + 4 * 10px});
  text-align: justify;
  padding: 0 13rem;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: -7rem;
}

.aboutme-text {
  font-family: $font-family;
  font-size: $medium-font-size;
}

@media screen and (max-width: 1024px) {
  .about-me-container {
    flex-direction: column;
  }

  .text-container {
    width: 100%;
    padding: 0 5rem;
    text-align: center;
    margin-top: 3rem;
    margin-left: 0;
  }

  .profile-image-container {
    margin-bottom: 4rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .about-me-container {
    flex-direction: column;
  }

  .text-container {
    width: 100%;
    padding: 0 3rem;
    text-align: center;
    margin-top: 3rem;
    margin-left: 0;
  }

  .profile-image-container {
    margin-bottom: 4rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .about-me-container {
    flex-direction: column;
  }

  .text-container {
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    margin-top: 3rem;
    margin-left: 0;
  }

  .profile-image-container {
    margin-bottom: 4rem;
    margin-left: 0;
  }

  .about-title {
    font-size: 2.5rem;
  }

  .aboutme-text {
    font-size: 1.2rem;
  }
}
