.experience-container {
    background: linear-gradient(
        to bottom,
        rgba(241, 166, 238, 0.25) 0%,
        rgba(232, 103, 232, 0.094) 85%,
        #282028da 100%
      ),url('../../assets/img/wesvan.avif');
    background-size: cover;
    background-position: center bottom;
    padding: 2rem;
  }
  
  // For devices with a screen size between 768px and 1024px (Tablet)
  @media screen and (max-width: 1024px) {
    .experience-container {
      padding: 1.5rem;
    }
  }
  
  // For devices with a screen size between 480px and 768px (Small Tablet or Large Mobile)
  @media screen and (max-width: 768px) {
    .experience-container {
      padding: 1rem;
    }
  }
  
  // For devices with a screen size smaller than 480px (Mobile)
  @media screen and (max-width: 480px) {
    .experience-container {
      padding: 0.5rem;
    }
  }
  